# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\华为云盘\enumerateWeightedSetCovers\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
